<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/logo.png" alt="logo" class="logo">
    </a>
    <div class="navbar-burger burger" [ngClass]="{'is-active': menuExpanded}" data-target="navbarMenu" (click)="onClickMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarMenu" class="navbar-menu" [ngClass]="{'is-active': menuExpanded}">
    <div class="navbar-start">
      <ng-container *ngFor="let item of navbarItems">
        <a [routerLink]="item.path" class="navbar-item has-text-white" [ngClass]="{'is-active': item.active}">{{ item.title }}</a>
      </ng-container>
    </div>
  </div>
</nav>
