<div class="project-item card">
  <div class="project-item__image card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="project-item__content card-content">
    <div class="project-item__title title is-4">{{ project.name }}</div>
    <p class="project-item__summary">{{ project.description }}</p>
    <div class="project-item__stack">
      <div class="tag has-background-grey has-text-white" *ngFor="let tech of project.stack">{{ tech }}</div>
    </div>
  </div>
  <div class="project-item__links card-footer">
    <div class="card-footer-item">
      <a [href]="project.repoUrl" target="_blank">
        <img src="assets/GitHub-Logo.png" alt="github logo">
      </a>
    </div>
    <div class="card-footer-item">
      <button
        [disabled]="!project.demoUrl"
        class="button is-primary"
        [ngClass]="{'tooltip is-tooltip-dark': !project.demoUrl}"
        (click)="demoAnchor.click();"
        [attr.data-tooltip]="!project.demoUrl ? 'Coming Soon!' : ''">Demo</button>
      <!-- I know... https://github.com/jgthms/bulma/issues/276#issuecomment-325207050 -->
      <a #demoAnchor target="_blank" href="project.demoUrl" class="is-hidden"></a>
    </div>
  </div>
</div>
