@import 'variables';

.hero-body {
  .title {
    font-family: $home-hero-title-font;
    font-size: 5rem;
    letter-spacing: 1.5px;
  }

  .subtitle {
    font-family: $home-hero-subtitle-font;
    font-size: 1.75rem;
    margin-top: 1.5rem;
  }
}
