<div class="page">
  <section class="hero is-light is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Contact Me</h1>
        <h2 class="subtitle">Give me a call, send me a text, or fill out the contact form below!</h2>
        <div class="actions">
          <button class="button is-outlined is-info">
            <a href="mailto:taylor.a.buckner@gmail.com">Email Me</a>
            <span class="icon is-small"><fa-icon [icon]="faEnvelope"></fa-icon></span>
          </button>
          <button class="button is-outlined is-info">
            <a href="tel:713-413-7828">Call Me</a>
            <span class="icon is-small"><fa-icon [icon]="faPhone"></fa-icon></span>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container container--contact">
      <app-contact-form></app-contact-form>
    </div>
  </section>
</div>
