@charset "utf-8";

/**
 * BRAND COLORS
**/
@import 'colors';

/**
 * OVERRIDE BULMA GLOBAL VARS
**/
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $blackened-pearl;
$grey-light: $blanc-de-blanc;
$primary: $blue-turquoise;
$link: $link-green; // FIXME: Add Custom Color
$widescreen-enabled: true;
$fullhd-enabled: true;

/**
 * OVERRIDE BULMA COMPONENT VARS
**/
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

// Bulma Extensions
@import '~bulma-tooltip';

/**
 * CUSTOM VARS
**/
@import 'variables';

/**
 * GLOBAL CLASSES
**/
@import 'globals';
