.card {
  border-radius: 6px;
  background-image: url('/assets/logo.png');
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: 320%;

  &-header-title {
    font-size: 1.25rem;
    font-weight: 400;
    z-index: 2;
  }

  .form-action-row {
    display: flex;
    justify-content: flex-end;
  }

  form {
    max-width: 66%;
    margin-left: auto;

    @media screen and (max-width: 500px) {
      max-width: 100%;
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);

  }
}
