<div class="about-bio">
  <section class="about-bio__spacer hero is-light is-hidden-mobile">
    <div class="hero-body">
    </div>
  </section>
  <section class="about-bio__intro hero is-light has-text-centered has-text-right-desktop">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          I get to do what I love...
        </h1>
        <h2 class="subtitle">
          <i>every single day.</i>
        </h2>
        <p class="about-bio__body has-text-centered">
          Growing up I never really knew what I wanted to do with my life. One day while working yet another job that
          'paid the bills', a very new friend who knew practically nothing about me, said to me--
        </p>
      </div>
    </div>
  </section>
  <section class="about-bio__belief hero is-light has-text-centered has-text-left-desktop">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          "...you can do this, Taylor.
        </h1>
        <h2 class="subtitle">
          You've got what it takes to be a great developer."
        </h2>
        <p class="about-bio__body has-text-centered">
          That single act of kindness--someone who barely
          knew me, believing in me--pushed me down a path that I can't turn away from. I'm very lucky to have finally
          found a career doing something I truly <i>love</i>.
        </p>
      </div>
    </div>
  </section>
</div>

