<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a href="#" class="navbar-item">
          <img src="assets/logo.png" alt="logo" class="logo">
        </a>
        <span class="navbar-burger burger is-hidden-tablet" (click)="onClickMenu()">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
          <div id="navbarMenuHeroC" class="navbar-menu is-hidden-fullhd is-hidden-desktop" [ngClass]="{'is-active': menuExpanded}">
            <div class="navbar-end">
              <ng-container *ngFor="let item of navbarItems">
                <a [routerLink]="item.path" class="navbar-item has-text-white" [ngClass]="{'is-active': item.path === '/'}">{{ item.title }}</a>
              </ng-container>
            </div>
          </div>
    </div>
  </nav>
</div>
